<!-- <div class="toggle-content">
    cacher
</div> -->
<!-- <div class="menu-section">
    <div class="menu-card menu-card-active">
        <span class="menu-card-icon"> <i class="fas fa-video"></i> </span>
        <span class="menu-card-title"> Films </span>
    </div>
    <div class="menu-card">
        <span class="menu-card-icon"> <i class="fas fa-home"></i> </span>
        <span class="menu-card-title"> Séries </span>
    </div>
</div>
<hr class="menu-cut"> -->
<div class="menu-section">
    <div class="menu-section-content">
        <div class="menu-section-title"> Genre </div>

        <!-- <div class="genre-list">
            <div class="genre-list-item"> 
                <span class="genre-item-title"> 
                    <input type="checkbox" name="" id=""> 
                    Action 
                </span>
                <span class="genre-item-nombre"> (10) </span>
            </div>
            <div class="genre-list-item">
                <span class="genre-item-title"> 
                    <input type="checkbox" name="" id="">
                     Animation 
                </span>
                <span class="genre-item-nombre"> (21) </span>
            </div>
            <div class="genre-list-item">
                <span class="genre-item-title"> 
                    <input type="checkbox" name="" id=""> 
                    Comedie 
                </span>
                <span class="genre-item-nombre"> (21) </span>
            </div>
            <div class="genre-list-item"> 
                <span class="genre-item-title"> 
                    <input type="checkbox" name="" id=""> 
                    Drame 
                </span>
                <span class="genre-item-nombre"> (11) </span>
            </div>
            <div class="genre-list-item"> 
                <span class="genre-item-title"> 
                    <input type="checkbox" name="" id=""> 
                    Fantastique 
                </span>
                <span class="genre-item-nombre"> (9) </span>
            </div>
            <div class="genre-list-item"> 
                <span class="genre-item-title"> 
                    <input type="checkbox" name="" id=""> 
                    Romantique 
                </span>
                <span class="genre-item-nombre"> (13) </span>
            </div>
            <div class="genre-list-item"> 
                <span class="genre-item-title"> 
                    <input type="checkbox" name="" id=""> 
                    Survivals 
                </span>
                <span class="genre-item-nombre"> (5) </span>
            </div>
        </div> -->
        
        <div class="genre-list">
            <div class="genre-list-item"> 
                <span class="genre-item-title"> 
                    <input type="checkbox" id="genre-Action" (change)="onGenreChange('genre-Action')"> 
                    Action 
                </span>
                <!-- <span class="genre-item-nombre"> (10) </span> -->
            </div>
            <div class="genre-list-item">
                <span class="genre-item-title"> 
                    <input type="checkbox" id="genre-Animation" (change)="onGenreChange('genre-Animation')"> 
                     Animation 
                </span>
                <!-- <span class="genre-item-nombre"> (21) </span> -->
            </div>
            <div class="genre-list-item">
                <span class="genre-item-title"> 
                    <input type="checkbox" id="genre-Comédie" (change)="onGenreChange('genre-Comédie')"> 
                    Comedie 
                </span>
                <!-- <span class="genre-item-nombre"> (21) </span> -->
            </div>
            <div class="genre-list-item"> 
                <span class="genre-item-title"> 
                    <input type="checkbox" id="genre-Dramatique" (change)="onGenreChange('genre-Dramatique')"> 
                    Drame 
                </span>
                <!-- <span class="genre-item-nombre"> (11) </span> -->
            </div>
            <div class="genre-list-item"> 
                <span class="genre-item-title"> 
                    <input type="checkbox" id="genre-Fantastique" (change)="onGenreChange('genre-Fantastique')"> 
                    Fantastique 
                </span>
                <!-- <span class="genre-item-nombre"> (9) </span> -->
            </div>
            <div class="genre-list-item"> 
                <span class="genre-item-title"> 
                    <input type="checkbox" id="genre-Romantique" (change)="onGenreChange('genre-Romantique')"> 
                    Romantique 
                </span>
                <!-- <span class="genre-item-nombre"> (13) </span> -->
            </div>
            <div class="genre-list-item"> 
                <span class="genre-item-title"> 
                    <input type="checkbox" id="genre-Survivals" (change)="onGenreChange('genre-Survivals')"> 
                    Survivals 
                </span>
                <!-- <span class="genre-item-nombre"> (5) </span> -->
            </div>
        </div>


    </div>
</div>