.body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

.content{
    display: flex;
    flex-direction: column;
    height: max-content;
    min-height: 100%;
}

.fixed{
    position: fixed;
}

/*############################################# Header #############################################*/
.header{
    padding: 10px;
    background-color: #13181C;
}
.header-inner{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1em;
}
.nav-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-bar-left{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.nav-bar-title{
    width: 250px;
}
.nav-bar-search{
    width: 100%;
}
.search-input{
    width: 80%;
    border: none;
    padding: 5px 10px;
    padding-right: 50px;
    border-radius: 3px;
    font-size: 0.7em;
}
.search-input::placeholder{
    color: #bebebe;
}

.btn-search{
    border: none;
    background-color: #0000;
    color: #bebebe;
    margin-left: -40px;
    font-size: 0.8em;
    cursor: pointer;
}
.btn-search:hover{
    color: #03A9F5;
}
.nav-bar-action{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    margin-right: 1%;
    padding: 0 10px;
}
.nav-bar-action *{
    cursor: pointer;
    margin: 0 5px;
    padding: 0 5px;
}
/*############################################# Aside #############################################*/

.aside{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 100%;
    background-color: #fff;
    padding: 10px;
}

.menu-section{
    display: flex;
    flex-direction: column;
}
.menu-card{
    transition: all 0.3s;
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
    cursor: pointer;
    padding: 2px 0;
}
.menu-card *{
    padding: 0 5px;
}
.menu-card:hover{
    margin-left: 10px;
    color: #046d9e;
}

.menu-card-active{
    color: #03A9F5;
}
.menu-cut{
    color: #e0e0e0;
    height: 1px;
    width: 100%;

}
.menu-section-content{
    padding: 5px 10px;
}
.menu-section-title{
    font-size: 1em;
}
.genre-list{
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    color: #6e6e6e;
}
.genre-list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
}
.genre-list-item:hover{
    color: #046d9e;
}

.genre-item-title{
    cursor: pointer;
}
/*############################################ Section ############################################*/

.section-content{
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.section{
    width: 100%;
}

.section-inner{
    padding: 5px 10px;
    background-color: #e0e0e0;
}

.section-inner1{
    background-color: #e0e0e0;
}

.section-title{
    font-size: 1.3em;
}

.section-card-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.film-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
    height: 310px;
    /* width: 210px;
    height: 380px; */
    margin: 10px 10px;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.film-card:hover{
    transform: scale(1.07);
    box-shadow: 0px 0px 15px #4d4d4d;
}

.film-image{
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.film-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-description-content{
    display: flex;
    flex-direction: column;
    padding: 3px 6px;
    height: min-content;
    font-size: 0.8em;
}
.film-title{
    height: 34px;
    overflow: hidden;
}
.film-card-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0;
}
.film-card-left{
    display: flex;
    flex-direction: column;
}
.film-card-right{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.fcb-title{
    color: #6e6e6e;
}
.fcb-value{
    color: #000;
    font-weight: bold;
}


.film-card-download-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    padding-bottom: 15px;
}
.btn-download{
    background-color: #28D466;
    text-decoration: none;
    color: #fff;
}

.pagination{
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pagination-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.list-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 3px;
    background-color: #22272b;
    color: #fff;
    margin: 5px;
}
.list-page div {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border-left: #e0e0e0 solid 1px;
    border-right: #e0e0e0 solid 1px; */
    flex-wrap: wrap;
}
/* .btn-list-page{
    border-left: #e0e0e0 solid 1px;
    border-right: #e0e0e0 solid 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */
.btn-previous, .btn-next, .btn-page-index{
    padding: 6px 10px;
    margin: 1px;
    cursor: pointer;
}

.btn-previous:hover, .btn-next:hover, .btn-page-index:hover{
    background-color: #046d9e;

}
.page-active{
    background-color: #03A9F5;
}

.pagination-list-select{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

.list-par-page{
    border: none;
    background-color: #22272b;
    color: #fff;
    padding: 6px 10px;
    border-radius: 3px;
    margin: 5px;
}

.display-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* .pagination-title{
    font-size: 1.3em;
}
.pagination-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pagination-page{
    margin: 5px 10px;
    padding: 5px 10px;
    cursor: pointer;
}
.pagination-btn:hover, .pagination-page:hover{
    color: #03A9F5;
}
.pagination-btn{
    margin: 5px 0;
    padding: 5px 0;
    cursor: pointer;
}
.pagination-previous{
    margin-right: 10px;
    padding-right: 10px;
}
.pagination-next{
    margin-left: 10px;
    padding-left: 10px;
}
.page-active{
    color: #03A9F5;
} */

@media (max-width:800px) {
    .section-content{
        display: block;
        /* background-color: #03A9F5; */
    }
    .nav-bar-search{
        padding: 10px 0;
    }
    .nav-bar{
        flex-direction: column;
    }
    .nav-bar-left{
        flex-direction: column;
    }
    .nav-bar-action{
        width: max-content;
        position: absolute;
        right: 10px;
        top: 15px;
    }
    .menu-section{
        width: 100%;
    }
    section{
        width: 100%;
    }
    .film-card{
        width: 160px;
        height: 290px;
        /* margin: 10px; */
    }

    /* section{
        padding: 5px;
    }
    .section-card-content{
        justify-content: space-between;
    } */
}

@media (max-width: 1200px) {
    .section-inner{
        padding: 10px 10px;
    }
    /* .film-card{
        width: 180px;
        height: 290px;
        margin: 10px;
    } */
}

/*##################################################################################*/


/* ###################################### Modal ##########################################*/
.alert-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    background-color: #00000000;
    z-index: 2;
}

.background-noir-transparent{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000055;
    width: 100%;
    height: 100vh;
    z-index: 1;
}
/* .modal-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #03A9F5;
    z-index: 1;
} */
.modal{
    /* position: absolute;
    z-index: 2; */
    transform: scale(0);
    background-color: #fff;
    width: max-content;
    height: max-content;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 5px 50px;
    border-radius: 5px;
    transition: all 0.5s;
}

/*##################################################################################*/

/*################################### Modal header ####################################*/
.modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modal-title{
    margin: 5px;
    font-size: 1.3em;
    width: 50%;
    text-align: center;
    color: #bebebe;
    cursor: pointer;
}
.modal-title-active{
    font-weight: bold;
    color: #000;
}
.title-underline{
    height: 3px;
    background-color: #bebebe;
    border: none;
    margin-bottom: 0;
}
.title-underline-active{
    background-color: #03A9F5;
}

.modal-section{
    display: flex;
    flex-direction: row;
    margin: 10px;
    font-size: 0.9em;
}
.modal-section-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: max-content;
    /* border: #000 solid 1px; */
    color: #6e6e6e;
}
.modal-section-right{
    margin-left: 20px;
}

/*##################################################################################*/


/*############################ drag and drop area #####################################*/
.upload-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: dashed #6e6e6e 2px;
    border-radius: 3px;
    width: max-content;
    margin: 5px;
    padding: 10px;
    width: 130px;
    transition: all 0.3s;
}

.upload-area-active{
    background-color: #e0e0e0;
}
.upload-area-invalid-input{
    color: #dc3545;
    border: #dc3545;
    box-shadow: 0 0 5px #dc3545;
}

.upload-area-no-file{
    text-align: center;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.area-title{
    font-weight: bold;
    text-decoration: underline;
}
.upload-icon{
    font-size: 2.5em;
}
.btn{
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 3px;
    /* background-color: #03A9F5;
    color: #fff; */
}
/*##################################################################################*/

/*################################### Form ##########################################*/
/* .form-area1{
    display: flex;
    flex-direction: row;
    width: 100%;
} */
/* .input{
    width: 150px;
    border: solid #707070 1px;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    font-size: 1em;
}*/
.form-input-area{
    display: flex;
    flex-direction: column;
}
.label-input{
    margin-left: 5px;
    color: #505050;
}
.form-area2{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.input{
    border: solid #707070 1px;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    font-size: 1em;
    background-color: #fff;
    color: #707070;
}

.synopsis-input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: none;
}
.modal-section-footer{
    margin: 10px;
    padding: 5px;
    width: 100%;
    text-align: right;
}

.btn-submit-upload{
    background-color: #28D466;
    color: #fff;
}
.btn-submit-upload:hover{
    background-color: #22974d;
}

/*##################################################################################*/

/*########################## Media query modal ####################################*/

@media (max-width:700px) {
    .modal-section{
        flex-direction: column;
    }
    .form-area2{
        width: 100%;
        margin: 0;
    }
    .modal-section-right{
        margin: 0;
    }
    .modal-section-footer{
        text-align: center;
    }
}

/*##################################################################################*/

.info-header{
    padding: 10px;
    background-color: #fff;
}

.detail-content{
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
    font-size: 0.9em;
}

.detail-content .left img{
    width: 300px;
}

.detail-content .right{
    margin-left: 20px;
}

.detail-content .right .info-title{
    color: #555;
    font-weight: bold;
    text-decoration: underline;
}


.video{
    width: 100%;
}

.video-content{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    font-size: 0.9em;
}

#copy-btn{
    margin-top: 10px;
    background-color: #dc3545;
    color: #fff;
}

.video-title{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}
